boto3==1.34.117
botocore==1.34.117
Flask==3.0.3
flask_cors==4.0.1
jsonschema==4.22.0
pdfminer==20191125
pymongo==4.7.2
pymupdf==1.24.5
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.5.0
tika==2.6.0
celery
redis

